<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255703932908-6cf58eku6dg1m5egl7ffft52bc50tkva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255703932908-6cf58eku6dg1m5egl7ffft52bc50tkva</string>
	<key>API_KEY</key>
	<string>AIzaSyCOqq2uZBecP6YQRPVDFUIVLpFGwDUC23k</string>
	<key>GCM_SENDER_ID</key>
	<string>255703932908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommerce-fe53c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommerce-fe53c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255703932908:ios:f4f49a02f67cc6dadc6ac9</string>
</dict>
</plist>